@model List<TFA.Vote.Models.Review>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutExpert.cshtml";
}

<style>
    .box {
        width: 320px;
        height: 120px;
        margin-left: 50px;
        margin-top:20px;
        float: left;
        border-radius: 15px;
        border: 1px solid #ccc;
        text-align: center;
        box-shadow: #ccc 10px 10px;
        cursor:pointer;
    }
    .box h1{
        font-size:20px;
        margin-top:15px;
    }
    .box h3{
        font-size:18px;
        margin-top:5px;
    }
        .box .tip {
            margin-top: 5px;
            font-size: 18px;
        }
    .nodatatip {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-top:30px;
    }
</style>
<div style="padding:30px;">
    @if (Model.Count == 0)
    {
        <div>
            <h2 class="nodatatip">当前没有正在进行的评审</h2>
        </div>
    }
    @foreach (var review in Model)
    {
        <div class="box" onclick="gotoReview(@review.ID)">
            <h1>@review.Award.AwardName</h1>
            <h3>@Html.Raw(review.CurrentRoundTurn)</h3>
            <span class="tip">正在评审中...</span>
        </div>
    }
    
</div>
@section script{
    <script>
        function gotoReview(reviewid) {
            TF.ajaxDo("/Expert/CheckIfReviewed?id=" + reviewid, TF.ajaxDone);
        }
    </script>
    }
