@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>华建集团专家评审打分系统</title>
    <meta name="keywords" content="华建集团">
    <meta name="description" content="华建集团">
    <meta name="renderer" content="webkit"><!--360默认急速模式打开-->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <link rel="icon" href="/resource/huajian/images/small_logo.ico" type="image/ico" />
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/resource/huajian/css/font-awesome.css">
    <!---->
    <link rel="stylesheet" href="/resource/huajian/css/main_huajian.css?ver=171205">
</head>
<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">您使用的是<stront>过时</strong>的浏览器。请<a href="http://browsehappy.com/">升级您的浏览器</a>来提高你的经验。</p>
    <![endif]-->
    <header-login style="max-width:1270px">
        <div class="logo"><img src="/resource/huajian/images/logo.png"></div>
        <div class="ind-biaoti"><p style="font-family:SimHei;font-weight:bold">专家评审打分系统<!--预留小字输入<span></span>--></p></div>
    </header-login>
    <div id="index_pc_bj">
        <div class="wrap_conter">
            <ul>
                <li><h11>系统登录</h11></li>
                <li>
                    <dl>
                        <dd><i class="huadongjz fa-user Login-account"></i><input name="username" id="username" type="text" class="pc_input1" placeholder="登录名"></dd>
                        <dd><i class="huadongjz fa-unlock-alt Login-password"></i><input name="password" id="password" type="password" class="pc_input1" placeholder="密码"></dd>
                        <dd class="btn"><a onclick="login()" href="#_"><strong>登 录</strong></a></dd>
                    </dl>
                </li>
                <li><span><i class="huadongjz fa-exclamation-triangle Login-zhuyi"></i><h12>请注意妥善保管账号密码！</h12></span></li>
            </ul>
        </div>


    </div>
    <footer-login>
        <p>
            华东建筑集团有限公司 版权所有<br>
            本系统暂不支持IE系列浏览器，推荐使用GOOGLE浏览器及360极速浏览器
        </p>
    </footer-login>
    <script src="/Resource/JS/jquery-1.7.1.min.js"></script>
    <script src="/Resource/layer/layer.js"></script>
    <script src="/Resource/JS/global.js"></script>
    <script>
          function login() {
              var username = $("#username").val();
              var password = $("#password").val();
              if (!username || !password) {
                  TF.alert("请输入用户名和密码");
              } else {
                  TF.loading();
                  TF.ajaxDo("/Account/Login?username=" + username + "&password=" + password , TF.ajaxDone);
              }
              return false;
          }
    </script>
</body>
</html>
